{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h4>
    广播式自动相关监视系统（Automatic Dependent Surveillance - Broadcast）
</h4>
<br />

<h3>{{ describe }}</h3>
<p>
    ADS-B是广播式自动相关监视的英文缩写：<br />
    Automatic——自动，全天候运行，无需职守。<br />
    Dependent——相关，它只需要于依赖精确地全球卫星导航定位数据。<br />
    Surveillance——监视，监视（获得）飞机位置、高度、速度、航向、识别号和其它信息。<br />
    Broadcast——广播，无需应答，飞机之间或与地面站互相广播各自的数据信息。
</p>
<br />

<h3>{{ synopsis }}</h3>
<p>ADS-B系统是广播式自动相关监视系统的简称，由多地面站和机载站构成，
    以网状、多点对多点方式完成数据双向通信。ADS-B系统是一个集通信与监视于一体的
    信息系统，由信息源、信息传输通道和信息处理与显示三部分组成。它把冲突探测、
    冲突避免、冲突解决、ATC监视和ATC一致性监视以及机舱综合信息显示有机的结合起来，
    为新航行系统增强和扩展了非常丰富的功能，同时也带来了潜在的经济效益和社会效益。
</p>
<br />

{% endblock %}
