{% extends "app/layout.html" %}

{% block content %}

{#输出飞机地址码#}
<h1>{{adsbinfo.HexID}}</h1>

<form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <!--显示图片-->
    <!--如果有图片链接，则显示此链接，如果没有图片链接，则显示默认图片-->
    {% if ADSBimg.img %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="{{ ADSBimg.img.url }}" class="img-responsive img-rounded" alt="Responsive image">
        </div>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="{{ MEDIA_URL }}img/DefaultAircraft.png" class="img-responsive img-rounded" alt="Responsive image">
        </div>
    </div>
    {% endif %}

    <!--上传图片功能-->
    <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInputFile">修改机型图片</label>
        <div class="col-sm-10">
            <input type="file" name="img" accept="image/*">
            <p class="help-block" style="color: orangered">注意，修改机型图片会修改系统内所有此机型的照片，请慎重上传。</p>
        </div>
    </div>

    <!--ID需要被隐藏起来-->
    <!--<div class="form-group">
        <label class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <input name="id" type="text" class="form-control" value="{{adsbinfo.id}}">
        </div>
    </div>-->
    <div class="form-group">
        <label class="col-sm-2 control-label">HexID</label>
        <div class="col-sm-10">
            <input name="HexID" type="text" class="form-control" value="{{adsbinfo.HexID|default_if_none:""}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">国家</label>
        <div class="col-sm-10">
            <input name="Flag" type="text" class="form-control" value="{{adsbinfo.Flag|default_if_none:""}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">呼号</label>
        <div class="col-sm-10">
            <input name="Callsign" type="text" class="form-control" value="{{adsbinfo.Callsign|default_if_none:""}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">注册码</label>
        <div class="col-sm-10">
            <input name="Registration" type="text" class="form-control" value="{{adsbinfo.Registration|default_if_none:""}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">机型</label>
        <div class="col-sm-10">
            <input name="Type" type="text" class="form-control" value="{{adsbinfo.Type|default_if_none:""}}">
        </div>
    </div>
    <!-- 修改提交按钮 -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">点击修改</button>
        </div>
    </div>
    <!-- 删除按钮链接 -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a class="btn btn-danger" href="/delete/?id={{adsbinfo.id}}">点击删除</a>
        </div>
    </div>
    <!--抛出异常-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p style="color: red">{{ errorHexID }}</p>
        </div>
    </div>
</form>

{% endblock %}